@font-face {
	font-family: 'Onsite Reg';
	src: url('/fonts/OnsiteStandard-Regular.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Onsite Medium';
	src: url('/fonts/OnsiteStandard-Medium.otf') format('opentype');
	font-display: swap;
}